body {
    background-color: #7159C1;
    font-family: sans-serif;
    font-size: 30px;
    color: #7159C1;
}

input {
    width: 285px;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #7159C1;
    margin: 5px;
    padding: 5px;
    ;
}

.nav {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.nav .title {
    font-size: 40px;
}

button {
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #7159C1;
    margin: 5px;
    padding: 5px;
    background-color: rgba(113, 89, 193, 0.25);
}

button:hover {
    background-color: rgba(113, 89, 193, 0.50);
    transition-delay: 30ms;
    transition-duration: 300ms;
}

input:hover {
    background-color: rgba(113, 89, 193, 0.50);
    transition-delay: 30ms;
    transition-duration: 300ms;
}

.cards {
    padding: 50px;
    width: 1200px;
    margin-left: 10px;
}

.card {
    text-align: center;
    background-color: white;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-areas: 'myArea myArea myArea';
    grid-gap: 10px;
}

.card .left {
    width: 350px;
    text-align: center;
    padding: 20px;
}

.card .right {
    grid-column: span 2;
    text-align: right;
    margin-right: 200px;
}

.card .title {
    font-size: 30px;
    text-align: center;
}

.card img {
    height: 120px;
}

.btn {
    padding: 20px;
}